html {
  background-color: #eaeaee;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.project-component {
}
.project-title {
  padding-left: 3vw;
  font-size: 32px;
  font-weight: 600;
}
.project-list {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1.3vw;
  padding-bottom: 3.3vw;
  padding-left: 3vw;
  padding-right: 8vw;
  min-height: 33vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-rows: min-content;
}
